<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="center">
  <div class="text">
    <h1>Play Checkers
      with friend!</h1>
<!--    <button *ngIf="!logged" class="btn" routerLink="/signIn">Play</button>-->
<!--    <button *ngIf="logged" class="btn" routerLink="/play">Play</button>-->
    <button class="btn" routerLink="/play">Play</button>
  </div>
  <div class="image">
    <img ngSrc="../../../assets/image/checkers.png" alt="checkers" height="737" width="731">
  </div>
</div>

<div class="bottom">
  <nav class="navbar">
    <ul>
      <li><a href="#">About us</a></li>
      <li><a href="https://www.chessandcheckers.io/">CC GAMES</a></li>
      <li><a href="https://www.chess.com/puzzles/rated">Chess </a></li>
      <li><a href="https://checkers.online/">checkers.online</a></li>
    </ul>
  </nav>
</div>
</body>
</html>
