<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class="lesson" *ngIf="loaded">
    <iframe width="660" height="315" [src]=sanitizeUrl(lesson?.video) frameborder="0" allowfullscreen></iframe>
    <h3>{{lesson?.name}}</h3>
    <p class="text">{{lesson?.text}}</p>
    <p class="level">level: {{lesson?.level}}</p>
  </div>
</body>
</html>
