.message2{
  width: 900px;
  height: 150px;
  margin: 35px auto;
  background: #f1f1ed;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(5, 77, 0, 0.85);
  text-align: center;
}
img{
  width: 120px;
  height: 120px;
  margin-left: 105px;
  margin-top: 10px;
}
.lessons{
  width: 900px;
  height: 170px;
  margin: 70px auto auto;
  background: #f1f1ed;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(16, 87, 7, 0.85);
}

.name{
  text-decoration: none;
  font-size: 2em;
  font-family: Roboto, sans-serif;
  color: #5f814b;
}
.text{
  font-size: 20px;
  padding: 10px;
}
.level{
  float: right;
  margin-right: 15px;
}
